<h1>Hogwarts Students And Houses</h1>

<p><a href="/students/new">New Student.</a></p>
<hr />
<% for student in @students %>
<p>First Name: <%= student.first_name %></p>
<p>Last Name: <%= student.last_name %></p>
<p>House: <%= student.house.name %></p>
<p>Age: <%= student.age %></p>
<!-- <p>ID: <%= student.id %></p> -->
<p><a href="students/<%= student.id %>">Show student details.</a></p>
<hr />
<% end %>
<% for house in @houses %>
<p>Name: <%= house.name %></p>
<p><img src="<%= house.url %>" height=300px width=300px /></p>
<hr />
<% end %>